**/.dockerignore
**/.editorconfig
**/.git
**/.gitignore
**/*Dockerfile*
**/*docker-compose*
.dev/*
.gke/*

# Rails
**/*.sqlite3
**/*.sqlite3-journal
**/log
**/tmp
storage/*
secrets/*

# Others
**/.classpath
**/*.env
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/bundle
**/.bundle
LICENSE
README.md


